<div class="col-md-12 content-panel" id="view-template-details">

	<form class="form-horizontal" role="form" data-observe="true">

		<ul class="nav nav-tabs">
			<li id="tab-template-details-base" class="active"><a data-target="#tab-general" data-toggle="tab">Allgemein</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="tab-general" data-bind="compose:{ model: 'core/template/pages/details/tabs/general', activationData: templateVM.id}"></div>
		</div>

	</form>

</div>
